:root {
    color-scheme: dark light;
    font-family: "Outfit", system-ui;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--text);
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 1rem;
    gap: 1rem;
    margin: 0;

    @media (max-width: 768px) {
        width: min(64rem, 88dvw);
        grid-template-columns: unset;
        grid-template-rows: auto 1fr;
        padding: 1rem 0;
        margin: auto;
    }
}