---
import Head from "@/components/Head.astro";
import Sidebar from "@/components/Sidebar.astro";
import Gallery from "../components/Gallery.astro";

import "@/styles/colors.css";
import "@/styles/style.css";
---

<html lang="en">
  <Head />
  <body>
    <Sidebar />
    <main>
      <Gallery />
    </main>
  </body>
</html>
