<header>
    <h1>{{@root.settings.title}}</h1>
    <nav>
        <a href="https://noClaps.github.io/blog">The Blog of Random</a>
        <a href="https://github.com/noClaps/gallery/releases/latest">Download</a>
        <a href="http://github.com/noClaps/gallery">Source code</a>
    </nav>
</header>