---
import { Image } from "astro:assets";

const images2019 = await Astro.glob(`../assets/2019/*.{jpg,jpeg}`);
const images2021 = await Astro.glob(`../assets/2021/*.{jpg,jpeg}`);
const images2022 = await Astro.glob(`../assets/2022/*.{jpg,jpeg}`);
const images2023 = await Astro.glob(`../assets/2023/*.{jpg,jpeg}`);
---

<div class="gallery">
    <h2 id="2023">2023</h2>
    <section>
        {
            images2023
                .map((img) => <Image src={img.default} alt="" format="avif" />)
                .reverse()
        }
    </section>
    <h2 id="2022">2022</h2>
    <section>
        {
            images2022
                .map((img) => <Image src={img.default} alt="" format="avif" />)
                .reverse()
        }
    </section>
    <h2 id="2021">2021</h2>
    <section>
        {
            images2021
                .map((img) => <Image src={img.default} alt="" format="avif" />)
                .reverse()
        }
    </section>
    <h2 id="2019">2019</h2>
    <section>
        {
            images2019
                .map((img) => <Image src={img.default} alt="" format="avif" />)
                .reverse()
        }
    </section>
</div>

<style>
    section {
        columns: 24rem auto;
        gap: 0.5rem;
    }

    img {
        width: 100%;
        border-radius: 0.5rem;
        height: auto;
        margin: 0.25rem 0;
    }

    h2 {
        scroll-margin-top: 1rem;

        @media (max-width: 768px) {
            scroll-margin-top: 4rem;
        }
    }
</style>
