<nav>
    <a href="#2023">2023</a>
    <a href="#2022">2022</a>
    <a href="#2021">2021</a>
    <a href="#2019">2019</a>
</nav>

<style>
    nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: min-content;

        @media (max-width: 786px) {
            flex-direction: row;
            padding: 1rem 0;
        }
    }

    a {
        color: var(--text);
        font-weight: bold;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.25s;

        &:hover {
            background-color: var(--primary);
            color: var(--on-primary);
        }
    }
</style>
