// Theme
@media (prefers-color-scheme: light) {
    :root {
        --bg: rgba(255, 255, 255, 1);
        --text: rgba(0, 0, 0, 1);
        --accent: rgba(255, 143, 0, 0.5);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: rgba(0, 0, 0, 1);
        --text: rgba(255, 255, 255, 1);
        --accent: rgba(21, 101, 192, 0.5);
    }
}

// Root
html {
    font-family: sans-serif;
    background-image: linear-gradient(to left, rgba(255, 143, 0, 0.5), rgba(255, 90, 91, 0.5), rgba(236, 71, 151, 0.5), rgba(162, 90, 191, 0.5), rgba(21, 101, 192, 0.5));
    background-color: var(--bg);
}

// Text selection color
::selection {
    background-color: var(--accent);
    color: var(--text);
}

::-moz-selection {
    background-color: var(--accent);
    color: var(--text);
}

// Header
header {
    margin: 1.5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 2px solid --text;
    margin-bottom: 0;
}

header h1 {
    color: var(--text);
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
}

nav a {
    margin: 0 0.5rem;
    color: var(--text);
}

// Gallery
// Credits to https://www.youtube.com/watch?v=-isQPqqnIBo for the excellent Masonry grid tutorial
ul {
    columns: 16rem auto;
    column-gap: 0.5rem;
    margin: 1.5rem;
    list-style-type: none;
    padding-inline-start: 0;
}

img {
    width: 100%;
    margin-bottom: 0.5rem;
}

li {
    list-style-type: none;
}