---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A website to showcase some cool photos I've taken."
    />
    <title>Aperturic Focus</title>
  </head>
  <body>
    <Header />
    <slot />

    <style>
      :root {
        color-scheme: dark light;
        font-family: system-ui;
      }

      body {
        margin: 0;
      }
    </style>
  </body>
</html>
